<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!-- Local feed for forked Discord.Net packages (DAVE multi-party voice fix, PR #3244) -->
    <add key="local-packages" value="./local-packages" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
</configuration>
